@import "variables";

@mixin keyframes($animationName) {
  @keyframes #{$class-prefix}-#{$animationName} {
    @content;
  }
}

/**
 * pulsate - 点扩散效果
 */
@for $i from 1 to 3 {
  @include keyframes(pulsate-#{$i}) {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      transform: scale($i, $i);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
}

/**
 * 波动
 */
@keyframes #{$class-prefix}-fluctuate {
  0%,100%,80% {
    height: 10px;
    -webkit-box-shadow: 0 0 #f50;
    box-shadow: 0 0 #f50;
  }
  40% {
    height:10px;
    -webkit-box-shadow: 0 -4px #f50;
    box-shadow: 0 -4px #f50;
  }
}


.#{$class-prefix} {

  /**
   * 面板hover动效
   */
  &-upward-card {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-6px) !important;
      -webkit-transform: translateY(-6px) !important;
      -moz-transform: translateY(-6px) !important;

      box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
      -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
      -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
    }
  }

  /**
   * 动态下划线
   */
  &-animation-underline {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: $primary;
      transition: width 0.35s;
    }

    &:hover::after {
      width: 100%;
    }

    &__scale {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $primary;
        opacity: 0;
        transform: scaleX(0.25);
        transition: transform 0.35s, opacity 0.35s, -webkit-transform 0.35s;
      }

      &:hover::after {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }


  /**
    * 动态柱状图
    */
  &-histogram-fluctuate {
    &::before, &::after {
      position: absolute;
      width: 2px;
      height: 6px;
      content: '';
      background: #f50;
    }

    &::before {
      left: -4px;
      -webkit-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.4s;
      -moz-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.4s;
      -o-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.4s;
      animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.4s;
    }

    &::after {
      right: -4px;
      -webkit-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out;
      -moz-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out;
      -o-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out;
      animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out;
    }

    display: inline-block;
    position: relative;
    width: 2px;
    height: 6px;
    background: #f50;
    -webkit-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.2s;
    -moz-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.2s;
    -o-animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.2s;
    animation: #{$class-prefix}-fluctuate infinite 1s ease-in-out -.2s;
  }


}
