@import "variables";


@mixin keyframes($animationName) {
  @keyframes #{$class-prefix}-#{$animationName} {
    @content;
  }
}

/**
 * pulsate - 点扩散效果
 */
@for $i from 1 to 3 {
  @include keyframes(pulsate-#{$i}) {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      transform: scale($i, $i);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
}

.#{$class-prefix} {

  &-upward-card {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-6px) !important;
      -webkit-transform: translateY(-6px) !important;
      -moz-transform: translateY(-6px) !important;

      box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
      -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
      -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
    }
  }


}