@import "variables";
@import "position";

.#{$class-prefix} {

  /**
   * 隐藏滚动条
   * for IE10,IE11,IE12
   */
  &-scrollbar-hide {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-scrollbars-none;
    overflow: auto;

    // for chrome
    &::-webkit-scrollbar {
      background: transparent;
    }
  }

  /**
   * 滚动条美化
   */
  &-scrollbar-beautify {

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #eee;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #C9C9C9;
    }
  }


  /**
   * 内联块级元素,兼容IE6
   */
  &-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  /**
   * 遮罩层（fixed）
   */
  &-mask-fixed {
    @extend .#{$class-prefix}-fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  /**
   * 遮罩层（absolute）
   */
  &-mask-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

}