@import "variables";
@import "position";

.#{$class-prefix} {

  /**
   * 隐藏滚动条
   * for IE10,IE11,IE12
   */
  &-scrollbar-hide {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-scrollbars-none;
    overflow: auto;

    // for chrome
    &::-webkit-scrollbar {
      background: transparent;
    }
  }

  /**
   * 滚动条美化
   */
  &-scrollbar-beautify {
    @include scrollbar-beautify(6px, 6px);
  }


  /**
   * 内联块级元素,兼容IE6
   */
  &-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  /**
   * 遮罩层（fixed）
   */
  &-mask-fixed {
    @extend .#{$class-prefix}-fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  /**
   * 遮罩层（absolute）
   */
  &-mask-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  /**
   * 多彩颜色背景
   */
  &-bg-colorful {
    background-image: linear-gradient(90deg, #4285f4 16.66667%, #ea4335 0, #ea4335 33.33333%, #f9bc05 0, #f9bc05 50%, #4285f4 0, #4285f4 66.66667%, #34a852 0, #34a852 83.33333%, #ea4335 0, #ea4335);
  }


  &-border-colorful {
    border-image: linear-gradient(30deg, #4285f4 16.66667%, #ea4335 0, #ea4335 33.33333%, #f9bc05 0, #f9bc05 50%, #4285f4 0, #4285f4 66.66667%, #34a852 0, #34a852 83.33333%, #ea4335 0, #ea4335) 2 2;
  }
}
