@import "variables";
@import "mixins";

.#{$class-prefix} {

  /**
   * 滤镜: 将彩色照片显示为黑白照片
   */
  &-grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }

  &-grayscale__hover:hover {
    filter: none;
    -webkit-filter: none;
    transition-duration: .3s;
  }

  /**
   * 三角箭头
   * eg. czw-triangle
   */
  @each $direction in $position-lists {
    &-triangle-#{$direction} {
      @include triangle($direction);
    }

    @for $i from 2 to 5 {
      &-triangle-#{$direction}-#{$i*2} {
        @include triangle($direction, $i*2 + 'px');
      }
    }
  }

  /**
   * 顶部标签
   */
  &-top-tag {
    @include top-tag();
  }


  /**
   * 小点
   */
  &-dot {
    @include dot();
  }

}
